# Practica de Recuperación de Información

## Fundamentos con python y usos básicos con pandas

1. Importar librerias fundamentales para el desarrollo

In [1]:
import pandas as pd

2. Lectura de archivo CSV (comma separated values)

In [2]:
df = pd.read_csv('data/IMDB Dataset.csv')
df #imprimimoos todo el contenido del df (dataframe)

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

La variabel **df** hace referencia a un DataFrame, este es una estructura de datos bidimensional. El cual permite almacenar, organizar y manipular datos en forma tabular. Se puede decir que es similar a una hoja de Excel, donde, cada fila corresponde a un valor a indexar y cada columna a un atributo de un valor. En el dataset usado en este caso, se tienen 50k valores con dos atributos, review y sentiment.

2. ¿Comó encontrar los reviews que contienen la palabra ¨good¨?

In [3]:
def hasgood (str_):
    #Función devuelve True si el string contiene la palabra good, caso contrario devuelve False
    return 'good' in str_

Aplicar la función _hasgood_ en una columna

In [11]:
reviewHasGood = df['review'].apply(hasgood) #Para simplificar se usa la función reviewHasGood, pero puede ser oipcional
reviewHasGood

0        False
1        False
2        False
3        False
4         True
         ...
49995     True
49996    False
49997     True
49998    False
49999     True
Name: review, Length: 50000, dtype: bool

Para realizar el conteo de valores de una columna se realiza mediante la función _values_counts()_

In [5]:
reviewHasGood.value_counts()

review
False    31229
True     18771
Name: count, dtype: int64

2. Ahora quiero que mi query no sea unicamente la palabra good, si no que yo pueda especificar cualquier palabra

In [13]:
def hasquery (str_, query):
    #Función devuelve True si en el string se encuentra la palabra a buscar como query, caso contrario devuelve False
    return str_ in query

In [24]:
query = 'not bad'
reviewHasAnyQuery = df['review'].apply(lambda x: hasquery(query, x))
reviewHasAnyQuery

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Name: review, Length: 50000, dtype: bool

In [25]:
reviewHasAnyQuery.value_counts()

review
False    49752
True       248
Name: count, dtype: int64

In [26]:
df[reviewHasAnyQuery]

                                                  review sentiment
14     This a fantastic movie of three prisoners who ...  positive
67     I really like Salman Kahn so I was really disa...  negative
240    This movie was absolutely pathetic. A pitiful ...  negative
420    This movie starts with the main character lyin...  negative
691    First, I realize that a "1" rating is supposed...  negative
...                                                  ...       ...
48844  Not a terrible film -- my 10 year old boy love...  negative
48851  What can you say about this movie? It was not ...  negative
48912  I absolutely love this show, but I saw the sec...  positive
49843  I'm shocked that all the "hated it" ratings ar...  negative
49846  The rumor is true: girls like COYOTE UGLY more...  negative

[248 rows x 2 columns]

In [27]:
df['review'].loc[14]

"This a fantastic movie of three prisoners who become famous. One of the actors is george clooney and I'm not a fan but this roll is not bad. Another good thing about the movie is the soundtrack (The man of constant sorrow). I recommand this movie to everybody. Greetings Bart"